@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
h2,
p {
  color: aliceblue;
}

.heading {
  font-family: "Fasthand", sans-serif;
}

.hero-container {
  max-width: 100%;
  height: 80vh;
  background: url("../images/Hero_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero-container {
    max-width: 100%;
    height: 80vh;
    background-image: url("../images/mobile-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.navbar > .container-fluid {
  padding: 0 7px;
}
.navbar-expand-sm {
  padding: 0;
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar-brand {
  font-weight: bold;
}
.navbar .navbar-nav a {
  font-weight: bold;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
nav {
  transition: 0.35s;
}
nav ul li {
  padding: 0 15px;
  position: relative;
  transition: color 0.5s;
}
nav ul li::after {
  content: "";
  background: #c45b06e5;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.6s, opacity 0.6s;
}
nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

.opaque-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header,
.jumbotron-sub,
.jumbotron-sub-sub {
  color: whitesmoke;
}
.jumbotron-header {
  text-align: center;
}

/* ------about */
.about > h2 {
  color: aliceblue;
}
.about {
  text-align: justify;
}

/* Event Details*/
.description {
  text-align: justify;
}
.card-body {
  color: #ff4c4c;
  background-color: #121036;
}
.link-danger {
  color: #c3ff5b!important;
}

/* --- Gallery Section */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #fafafa;
}
.photo-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (min-width: 768px) {
  .photo-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .photo-container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
.photo-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
  margin-right: 0;
  margin-left: 0;
}
/* ----------- Form Section -----------*/
/* Style the form container */
.contact-us {
  background-color: #1a1a1a;
  height: 95vh;
  padding: 50px 0;
  background-image: url("../images/contact-background.webp");
  background-size: cover;
}
.contact-form {
  background-color: rgba(0, 0, 0, 0.6);
}
/* Style the form headings */
.contact-form h2 {
  color: #fafafa;
  font-size: 25px;
  margin-bottom: 30px;
}

/* Style the form labels */
.contact-form label {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style the radio buttons */
.contact-form input[type="radio"] {
  margin-right: 10px;
}

/* Style the form submit button */
.contact-form input[type="submit"] {
  background-color: orangered;
  border: 2px;
  border-radius: 45px;
  color: #fff;
  font-size: 15px;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

/* thanks page */

.thank-you {
  height: 100vh;
  background-image: url("../images/thank-you-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}
.thanks-msg {
  background-color: rgba(0, 0, 0, 0.6);
}
.thanks-msg > h1 {
  color: #fafafa;
}
#thanks-message {
  text-align: center;
}
